name: notes_app
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  appwrite: ^20.3.2
  flutter_dotenv: ^6.0.0
  provider: ^6.0.5
  cupertino_icons: ^1.0.8
  device_info_plus: ^12.2.0
  flutter_web_auth_2: ^5.0.0-alpha.7

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  flutter_launcher_icons: ^0.14.4

flutter:
  uses-material-design: true
  assets:
    - .env

flutter_icons:
  android: true
  ios: false
  image_path: "assets/icon/icon.png"
